[submodule "src/ocp4-upi-kvm"]
	path = src/ocp4-upi-kvm
	url = https://github.com/zmc/ocp4-upi-kvm.git
	branch = r45backports-zmc
[submodule "src/ocs-ci"]
	path = src/ocs-ci
	url = https://github.com/red-hat-storage/ocs-ci
	branch = master
